#app.black-theme
	--app-bg #000
	--app-bg-lightest rgba(255,255,255,.15)

	--app-fg #FFF
	--app-fg-lightest rgba(255,255,255,.5)

	--app-border-01 rgba(255,255,255,.2)

	--app-primary #09F
	--app-primary-01 rgba(0,170,255,.2)

	--app-btn-primary-border var(--app-border-01)

	.modal
		box-shadow 0 16px 40px rgba(255,255,255,.1)