@import 'global-variables'

html
	width 100vw
	height 100vh

html, body
	margin 0
	padding 0
	box-sizing border-box
	overflow hidden

body
	font-family:
		'Lucida Sans',
		'Lucida Sans Regular',
		'Lucida Grande',
		'Roboto',
		'Arial'
	line-height 1.5
	font-size 1rem

#app
	width 100vw
	height 100vh
	overflow auto
	color var(--app-fg)
	background-color var(--app-bg)
	transition all cubic-bezier(.22,.61,.36,1) 400ms

div, input, button, textarea, svg, svg *,
span, a, p, q, b, i, label, section,
h1, h2, h3, h4, h5, h6
	background none
	border none
	outline none
	box-sizing border-box
	transition cubic-bezier(.22,.61,.36,1) 200ms
	transition-property:
		background, opacity, transform, border, color,
		box-shadow, padding, margin, border-radius,
		fill, stroke, height, width

span, a, q, p, i, b, label,
input, textarea, button
	font-size 1rem

.hidden
	display none !important

.modal
	display flex
	margin auto
	padding 2rem
	border-radius var(--app-border-radius)
	background-color var(--app-bg)
	flex 0 1 auto
	flex-flow row wrap
	box-shadow 0 16px 40px rgba(0,0,0,.3)
	border solid 1px var(--app-border-01)
	overflow hidden

h3.view-title
	margin 0 auto 4rem auto
	text-align center

button
	display flex
	margin 0
	padding .5rem 1rem
	cursor pointer
	border solid 1px var(--app-btn-border)
	justify-content center
	align-content center
	align-items center
	color var(--app-fg)
	border-radius var(--app-border-radius)
	user-select none
	cursor pointer
	> *:not(:first-child)
		margin-left .5rem
	&.small
		padding .25rem .5rem
		font-size .75rem
	&.large
		padding 1rem 2rem
	&.full-width
		flex 1 1 100%
		width 100%
	&.secondary
		color var(--app-btn-secondary-fg)
		border-color var(--app-btn-secondary-border)
		background-color var(--app-btn-secondary-bg)
		.icon
			&.stroked > *
				stroke var(--app-btn-secondary-fg)
			&.filled > *
				fill var(--app-btn-secondary-fg)
		&:hover
			color var(--app-btn-secondary-hover-fg)
			border-color var(--app-btn-secondary-hover-border)
			background-color var(--app-btn-secondary-hover-bg)
			.icon
				&.stroked > *
					stroke var(--app-btn-secondary-hover-fg)
				&.filled > *
					fill var(--app-btn-secondary-hover-fg)
		&:focus, &:active, &.active
			color var(--app-btn-secondary-active-fg)
			border-color var(--app-btn-secondary-active-border)
			background-color var(--app-btn-secondary-active-bg)
			.icon
				&.stroked > *
					stroke var(--app-btn-secondary-active-fg)
				&.filled > *
					fill var(--app-btn-secondary-active-fg)
	&.primary
		color var(--app-btn-primary-fg)
		border-color var(--app-btn-primary-border)
		background-color var(--app-btn-primary-bg)
		.icon
			&.stroked > *
				stroke var(--app-btn-primary-fg)
			&.filled > *
				fill var(--app-btn-primary-fg)
		&:hover
			color var(--app-btn-primary-hover-fg)
			border-color var(--app-btn-primary-hover-border)
			background-color var(--app-btn-primary-hover-bg)
			.icon
				&.stroked > *
					stroke var(--app-btn-primary-hover-fg)
				&.filled > *
					fill var(--app-btn-primary-hover-fg)
		&:focus, &:active, &.active
			color var(--app-btn-primary-active-fg)
			border-color var(--app-btn-primary-active-border)
			background-color var(--app-btn-primary-active-bg)
			.icon
				&.stroked > *
					stroke var(--app-btn-primary-active-fg)
				&.filled > *
					fill var(--app-btn-primary-active-fg)
	&.danger
		color var(--app-btn-danger-fg)
		border-color var(--app-btn-danger-border)
		background-color var(--app-btn-danger-bg)
		.icon
			&.stroked > *
				stroke var(--app-btn-danger-fg)
			&.filled > *
				fill var(--app-btn-danger-fg)
		&:hover
			border-color var(--app-btn-danger-hover-fg)
			border-color var(--app-btn-danger-hover-border)
			background-color var(--app-btn-danger-hover-bg)
			.icon
				&.stroked > *
					stroke var(--app-btn-danger-hover-fg)
				&.filled > *
					fill var(--app-btn-danger-hover-fg)
		&:focus, &:active, &.active
			color var(--app-btn-danger-active-fg)
			border-color var(--app-btn-danger-active-border)
			background-color var(--app-btn-danger-active-bg)
			.icon
				&.stroked > *
					stroke var(--app-btn-danger-active-fg)
				&.filled > *
					fill var(--app-btn-danger-active-fg)
	&.warn
		color var(--app-btn-warn-fg)
		border-color var(--app-btn-warn-border)
		background-color var(--app-btn-warn-bg)
		.icon
			&.stroked > *
				stroke var(--app-btn-warn-fg)
			&.filled > *
				fill var(--app-btn-warn-fg)
		&:hover
			border-color var(--app-btn-warn-hover-fg)
			border-color var(--app-btn-warn-hover-border)
			background-color var(--app-btn-warn-hover-bg)
			.icon
				&.stroked > *
					stroke var(--app-btn-warn-hover-fg)
				&.filled > *
					fill var(--app-btn-warn-hover-fg)
		&:focus, &:active, &.active
			color var(--app-btn-warn-active-fg)
			border-color var(--app-btn-warn-active-border)
			background-color var(--app-btn-warn-active-bg)
			.icon
				&.stroked > *
					stroke var(--app-btn-warn-active-fg)
				&.filled > *
					fill var(--app-btn-warn-active-fg)
	&[disabled], &.disabled
		opacity .25
		pointer-events none
	&.link
		display inline
		padding 0
		border none
		color var(--app-primary)
		font-size inherit
		font-weight inherit
	&.link:hover
		text-decoration underline

input, textarea
	padding .5rem
	border solid 1px var(--app-border-01)
	border-radius var(--app-border-radius)
	box-shadow 0
	color var(--app-fg)
	&:hover
		border-color var(--app-fg)
	&:active, &:focus
		border-color var(--app-primary)
		box-shadow 0 0 0 .25rem var(--app-primary-01)
	&.small
		padding .25rem
	&.large
		padding 1rem
	&.full-width
		flex 1 1 100%
		width 100%

.icon
	height 1.5rem
	width 1.5rem
	&.stroked
		stroke var(--app-fg)
	&.filled > *
		fill var(--app-fg)
	&.small
		height 1rem
		width 1rem
	&.large
		height 2rem
		width 2rem
	&.x-large
		height 3rem
		width 3rem
